<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>focUS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
    <!-- Favicons -->
    <link href="../static/assets/img/favicon-32x32.png" rel="icon"> 
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!--  Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">
  </head>
  
  <body>

  

    <!-- ======= Feed Details Section ======= -->
    <section id="feed-details" class="feed-details">
      <div class="container">

        

          
          
            <div class="feed-info">
              <h3>Additional Info</h3>
              <ul>
                <li><strong>Sale Information:</strong>&nbsp;&nbsp;Sales price valid from 11/24/2022 until 11/30/2022
 
            </li>
                <li><strong>Description</strong>: <a  target="_blank" rel="noopener noreferrer">Pack of 12                </a></li>
                <br>
                <strong>Ingredients</strong>
                <p>
                  INGREDIENTS: FLOUR, SUGAR, CHOCOLATE CHIPS (SUGAR, CHOCOLATE LIQUOR, COCOA BUTTER, DEXTROSE, SOY LECITHIN, VANILLA), NON HYDROGENATED VEGETABLE OIL MARGARINE (MODIFIED PALM, PALM KERNEL AND CANOLA OILS), LIQUID WHOLE EGGS, COOKING MOLASSES, WATER, SODIUMBICARBONATE,NATURALFLAVOUR   May contain Egg, Milk ,Peanut, Sesame Seed, Soy, Sulphite, Tree Nut, Wheat</p>
                  <img style="width:100%"    src="..//static/assets/img/portfolio/nutritional.jpg" alt="">
              </ul>
            </div>
              
          

      

      </div>
    </section><!-- End Feed Details Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets//vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/"></script>

  <!--  Main JS Files -->
  <script src="../static/assets/js/main.js"></script>


</body>

</html>