<!DOCTYPE html>
<head>

</head>
<html>
    <body>
        <style> 
        body {
        background-color: #F1FAEE;
        font-family: "Open Sans", sans-serif;
        color: #1D3557;
        text-align: center;
        margin-top:20%;
    }

    h1{
    font-size: 30px;
    }


    p{
        margin-right: 10px;
    }

        
        
        
        </style>

        <h1>ORDER CONFIRMED</h1>

        <p> Thank you for shopping with up! See you next time! </p>

    </body>
</html> 